/* GLOBAL */

* {
    text-align: center;
    background-color: black;
    color: rgb(216, 215, 215);
}
h1, h2, h3, p{
    margin: 0px !important;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white !important;
}

body {
    background-color: Black !important;
    color: rgb(216, 215, 215);
}

/* ELEMENTS */

.inputNumber {
    width: 100%;
    border: 0;
    margin: 0px !important;
    height: 150px;
}

.answer {
    height: 50px;
    color: white;
    font-weight: bolder;
}

/* TEXT DECORATION */
.yellow {
    color: lightyellow;
    text-shadow: 1px 1px yellow;
}

.white {
    text-shadow:1px 1px white;
}

.crossed {
    text-decoration: line-through;
}

.border {
    border: 1px solid grey;
}

.green {
    color: green;
}

